<header>
  <div class = "burger">
    <%= link_to user_path(current_user) do%>
      <i class="fa fa-bars" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class = "title">
    <h1>My Tasks</h1>
  </div>
  <div class = "search">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div> 
</header>

<div class = "subhead">
  <p>Total time</p>
  <h3> 30:25 </h3>
</div>

<div class = "container">
  <ul>
    <% @tasks.each do |t| %>
      <li>
        <%= image_tag("https://placeimg.com/50/50/tech", :class => "g-icon", alt: "Profile") %>
        <div>
          <div class = "task-info">
            <p><%= t.title %></p>
            <%= t.amount %>
          </div>
          <small><%= t.created_at.strftime('%d %b %Y') %></small>
        </div>
       
      </li>
    <% end %>
  </ul>
</div>

<footer>
  <%= link_to new_task_path do %>
    <div class = "btn-bottom">
      <div class = "btn-inner">
        <h2> New Task </h2>
      </div>
    </div>
  <% end %>
</footer>