<h1>New Task</h1>
<div>
  <%= form_with(model: @task) do |form| %>
    <%= form.label(:title, "Title: ") %>
    <%= form.text_field(:title) %>

    <%= form.label(:amount, "Amount: ") %>
    <%= form.text_field(:amount) %>
 

    <%= form.submit('Create') %>
  <% end %>
</div>