<header>
  <div class = "burger">
    <%= link_to groups_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <div class = "title">
    <h1><%= @group.name %></h1>
  </div>
  <div class = "search">
    <i class="fas fa-ellipsis-v"></i>
  </div> 
</header>

<div class = "container">
  <ul>
    <% @group.tasks.each do |t| %>
      <li>
        <div class="g-icon">
          <%= image_tag(t.groups.first.icon, :class => "icon" , alt: "Profile") unless t.groups.first.nil? %>
        </div>
        <div>
          <div class = "task-info">
            <p><%= t.title %></p>
            <%= t.amount %>
          </div>
          <small><%= t.created_at.strftime('%d %b %Y') %></small>
          <small><%= @group.name unless t.groups.first.nil? %></small>
          <small><%= t.creator.name %></small>
        </div>
       
      </li>
    <% end %>
  </ul>
</div>